.App {
  display: flex;
  justify-content: space-around;
}
body {
  background-color: rgb(152, 179, 228);
}
.block {
background-color: rgb(248, 231, 211);
padding: 20px;
text-align: center;
}
.blockTwo {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 20px;
text-align: center;
width: 80%;
}

img {
  width: 350px;
  border-radius: 8px;
}
.basketIcon {
  width: 80px;
}
.categoryButton:hover {
  background-color: rgb(130, 102, 231);
  cursor: pointer;
  margin: 5px;
  padding: 5px;
}
.categoryButtonSelected {
  background-color: aquamarine;
  cursor: pointer;
  margin: 5px;
  padding: 5px;
}
.icon {
  width: 20px;
}
p, h1, h2, button {
  font-family: Helvetica, sans-serif;
  font-size: 20px;
}
button {
  background-color: floralwhite;
  margin: 10px;
  padding: 5px;
  border-radius: 10px;
  border: none;
}